<div
    class="no-gutters"
    style="position: relative;"
    [ngClass]="{'row': row}"
>
    <div class="do-button no-gutters {{baseElementImpl.sizeClass}}">
        <button
            class="{{btnType}} {{baseElementImpl.subElementSizeClass}} {{customCssClass}}"
            [ngClass]="{'no-focus': noFocusCss, 'btn': !customCss}"
            [ngStyle]="customCssStyle"
            (click)="buttonClicked()"
            [disabled]="disabled"
        >
            <em
                class="fa fa-{{icon}}"
                *ngIf="icon"
                [ngStyle]="{color: iconColor}"
            ></em>
            {{ $label | translate }}
            <em
                class="fa fa-{{iconRight}}"
                *ngIf="iconRight"
                [ngStyle]="{color: iconRightColor}"
            ></em>
        </button>
    </div>
    <span class="badge badge-danger do-badge">{{notifications}}</span>
</div>