<div
    class="no-gutters"
    [ngClass]="{'row': row}"
>
    <div class="do-button no-gutters {{baseElement.sizeClass}}">
        <button
            class="{{btnType}} {{baseElement.subElementSizeClass}} {{customCss}}"
            [ngClass]="{'no-focus': noFocusCss, 'btn': !customCss}"
            [ngStyle]="customCssStyle"
            (click)="buttonClicked()"
            [disabled]="disabled"
        >
            <span
                class="fa fa-{{icon}}"
                *ngIf="icon"
            ></span>{{ $label | translate }}<span
                class="fa fa-{{iconRight}}"
                *ngIf="iconRight"
            ></span>
        </button>
    </div>
</div>