<div class="no-gutters">
    <div class="do-button no-gutters {{sizeClass}}">
        <button
            class="{{btnType}} {{subElementSizeClass}} {{customCss}}"
            [ngClass]="{'no-focus': noFocusCss, 'btn': !customCss}"
            [ngStyle]="customCssStyle"
            (click)="buttonClicked()"
            [disabled]="disabled"
        >
            <span
                class="fa fa-{{icon}}"
                *ngIf="icon"
            ></span>{{ $label | translate }}<span
                class="fa fa-{{iconRight}}"
                *ngIf="iconRight"
            ></span>
        </button>
    </div>
</div>