<div style="width: 100%;">
    <do-button
        [label]="'Go to Home page'"
        [size]="'12|12|12|12'"
        (onClick)="navigateToHome()"
        [subElementSize]="'12|12|12|12'"
        [type]="danger"
    ></do-button>
    <do-input
        size="4|4|4|4"
        [label]="'Input Label'"
        [placeholder]="'placeholder text'"
        [formControl]="formControlTest"
        [errorsLabel]="errorLabels"
        [tooltip]="tooltip"
    ></do-input>

    <do-card
        [card]="{header: 'Header title', footer: 'Footer content', headerIcon: 'bell'}"
    >
        <div> do-card instantiated with: {{'{'}}header: 'Header title', footer:
            'Footer
            content', headerIcon: 'bell'{{'}'}}</div>
        <div> Some other content in do-card</div>
    </do-card>

    <do-table
        [displayedColumns]="displayedColumns"
        [dataSource]="dataSource"
    ></do-table>


</div>