<div
    class="dropdown-menu dropdown-menu-right"
    style="cursor: pointer;"
    [ngClass]="{'show-menu': $show && items && items.length > 0}"
>
    <div
        class="dropdown-item"
        [routerLink]="['/', item.link]"
        routerLinkActive="router-link-active"
        *ngFor="let item of items"
        (click)="hide.emit(true)"
    >
        {{item.label}}
        <div
            *ngIf="item.brakeNext"
            class="dropdown-divider"
        ></div>
    </div>
</div>
<div
    *ngIf="$show && items && items.length > 0"
    class="drop-down-menu-backdrop"
    (click)="hide.emit(true)"
></div>