<!-- Remove this div if you want angular material css shadows -->
<div class="table-container">
    <table
        mat-table
        [dataSource]="$dataSource"
        class="mat-elevation-z8"
    >
        <caption style="display: none;">
            Task table
        </caption>
        <tr
            mat-header-row
            *matHeaderRowDef="displayedColumns"
        ></tr>
        <tr
            mat-row
            *matRowDef="let row; columns: displayedColumns; let i = index"
            (click)="selectRow(row)"
            [ngClass]="{'active-row': currentRow?.id === row?.id}"
        ></tr>
        <ng-container
            matColumnDef="title"
            sticky
        >
            <th
                scope="col"
                mat-header-cell
                *matHeaderCellDef
            > Task name </th>
            <td
                mat-cell
                *matCellDef="let element; let i = index"
                (click)="selectCell('title', element.title, i); titleInput.focus()"
                [ngClass]="{'active-element': isCurrentCellActive('title', element?.title)}"
            >
                <div class="flex-align-center title-input-container">
                    <input
                        matTooltip="Press enter to save."
                        [matTooltipPosition]="'above'"
                        [matTooltipShowDelay]="1000"
                        #titleInput
                        [hidden]="!isCurrentCellActive('title', element?.title)"
                        type="text"
                        value="{{element?.title}}"
                        (focusout)="!titleEdited ? titleInput.value = element?.title : null; titleTooltipText = undefined"
                        (keyup)="updateTitleData($event, i ,titleInput.value)"
                    />
                    <span
                        [hidden]="isCurrentCellActive('title', element?.title)"
                    >
                        {{element.title}}
                    </span>
                    <span
                        class="span-relative"
                        *ngIf="element?.notifications > 0"
                    >
                        <span
                            class="circle circle-notification">{{element?.notifications}}</span>
                        <mat-icon
                            class="title-icons title-icons-notification"
                            aria-hidden="false"
                            aria-label="Edit icon"
                        >notifications_none</mat-icon>
                    </span>
                    <span
                        class="span-relative"
                        *ngIf="element.likes > 0"
                    >
                        <span
                            class="circle circle-like">{{element?.likes}}</span>
                        <mat-icon
                            class="title-icons title-icons-like"
                            aria-hidden="false"
                            aria-label="Edit icon"
                        >sentiment_very_satisfied</mat-icon>
                    </span>
                    <span
                        class="span-relative"
                        *ngIf="element?.subTasks?.length > 0"
                    >
                        <span
                            class="circle circle-subtask">{{element?.subTasks?.length}}</span>
                        <mat-icon
                            class="title-icons"
                            aria-hidden="false"
                            aria-label="Edit icon"
                        >subdirectory_arrow_right</mat-icon>
                    </span>
                    <span
                        class="span-relative ml-auto"
                        [hidden]="isCurrentCellActive('title', element?.title)"
                    >
                        <mat-icon
                            *ngIf="element?.title"
                            (click)="titleInput.focus()"
                            class="title-icons title-icons-edit show-edit-on-hover"
                            aria-hidden="false"
                            aria-label="Edit icon"
                        >edit</mat-icon>
                    </span>
                </div>
            </td>
        </ng-container>
        <ng-container matColumnDef="assignee">
            <th
                scope="col"
                mat-header-cell
                *matHeaderCellDef
            > Assignee </th>
            <td
                mat-cell
                *matCellDef="let element"
                (click)="selectCell('assignee', element.assignee)"
                [ngClass]="{'active-element': currentValue === element?.assignee && currentCol === 'assignee'}"
            > {{element.assignee}} </td>
        </ng-container>
        <ng-container matColumnDef="dueDate">
            <th
                scope="col"
                mat-header-cell
                *matHeaderCellDef
            > Due Date </th>
            <td
                mat-cell
                *matCellDef="let element"
                (click)="selectCell('dueDate', element.dueDate)"
                [ngClass]="{'active-element': currentValue === element?.dueDate && currentCol === 'dueDate'}"
            > {{element.dueDate}} </td>
        </ng-container>
        <ng-container matColumnDef="priority">
            <th
                scope="col"
                mat-header-cell
                *matHeaderCellDef
            > Priority </th>
            <td
                mat-cell
                *matCellDef="let element"
                (click)="selectCell('priority', element.priority)"
                [ngClass]="{'active-element': currentValue === element?.priority && currentCol === 'priority'}"
            > {{element.priority}} </td>
        </ng-container>
        <ng-container matColumnDef="tags">
            <th
                scope="col"
                mat-header-cell
                *matHeaderCellDef
            > Tags </th>
            <td
                mat-cell
                *matCellDef="let element"
                (click)="selectCell('tags', element.tags)"
                [ngClass]="{'active-element': currentValue === element?.tags && currentCol === 'tags'}"
            > {{element.tags}} </td>
        </ng-container>
    </table>
</div>