// TABELA SHIT
.table-container {
    width: 100%;
    overflow: auto;
}

table {
    width: 100%;
}

.mat-table-sticky:first-child {
   min-width: 20rem;
}

.mat-header-cell {
    padding-left: 8px !important;
    border-right: 1px solid #eeeeee;
    width: 7rem;
    max-width: 7rem;
    min-width: 7rem;
}
.mat-cell {
    padding-left: 8px !important;
    border-right: 1px solid #eeeeee;
    width: 7rem;
    max-width: 7rem;
    min-width: 7rem;
}

.mat-header-cell:last-child {
    padding-right: 0 !important;
    border-right: none;
}

.mat-cell:last-child {
    padding-right: 0 !important;
    border-right: none;

}

.mat-header-cell:hover {
    background-color: #eeeeee;
}

.mat-cell:hover {
    background-color: #e0e0e0;
    .show-edit-on-hover {
        display: flex;
    }
}

.mat-row:hover {
    background-color: #eeeeee;
}

.active-row {
    background-color: #EDF8FF !important;
}

.mat-header-row {
    height: 2.5rem;
}
.mat-row {
    height: 2.5rem;
}

.active-element {
    background-color: rgb(184, 231, 255) !important;
}

// TITLE
.title-input-container {
    input {
        width: 70%;
        border: none;
    }

   .title-icons {
    font-size: 1.5rem;
    align-items: center;
    justify-content: center;
    display: flex;
    margin-left: .5rem;
    margin-right: .5rem;
    color: rgba(0,0,0,.6);

    &-edit {
        color: rgba(0,0,0,.4);
        font-size: 1rem;
    }

    &-like::after {
        content: "";
        position: absolute;
        width: 1rem;
        height: 1rem;
        background-color: rgb(255, 230, 0);
        border-radius: 100px;
        z-index: -1;
    }

    &-notification::after {
        content: "";
        position: absolute;
        width: .7rem;
        height: 1rem;
        background-color: rgb(255, 205, 112);
        z-index: -1;
        border-radius: 30px 30px 0 0;
    }

   }

    .show-edit-on-hover {
        display: none;
    }

    .span-relative {
        position: relative;
        cursor: pointer;

    }

    .notification-circle {
        background-color: red;
        color: #fff;
    }

    .circle {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        right: 0;
        min-width: .8rem;
        width: fit-content;
        height: .8rem;
        border-radius: 100px;
        font-size:.8rem;
        color: #fff;
        padding: .1rem;

        &-notification {
            background-color: red;
        }

        &-like {
            background-color: #0069D9;
        }

        &-subtask {
            color: #000000;
            border: .5px solid #000000;
        }
    }
}

// ASSIGNEE
.users-box {
    display: flex;

    &-assignee {
        width: 2rem;
        height: 2rem;
    }

    &-no-img {
        overflow: visible;
        width: 2rem;
        height: 2rem;
        border-radius: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &-name {
// TODO:
    }

    &-watcher {
// TODO:
    }

}
