// TABELA SHIT
.table-container {
    width: 100%;
    overflow: auto;
}

table {
    width: 100%;
}

.mat-table-sticky:first-child {
   min-width: 20rem;
}

.mat-header-cell {
    padding-left: 8px !important;
    border-right: 1px solid #eeeeee;
    width: 7rem;
    max-width: 7rem;
    min-width: 7rem;
}
.mat-cell {
    padding-left: 8px !important;
    border-right: 1px solid #eeeeee;
    width: 7rem;
    max-width: 7rem;
    min-width: 7rem;
}

.mat-header-cell:last-child {
    padding-right: 0 !important;
    border-right: none;

}

.mat-cell:last-child {
    padding-right: 0 !important;
    border-right: none;

}

.mat-header-cell:hover {
    background-color: #eeeeee;
}

.mat-cell:hover {
    background-color: #e0e0e0;
}

.mat-row:hover {
    background-color: #eeeeee;
}

.active-row {
    background-color: #EDF8FF !important;
}

.mat-header-row {
    height: 2rem;
}
.mat-row {
    height: 2rem;
}

.active-element {
    background-color: rgb(124, 211, 255) !important;
}
