<div
    class="no-gutters"
    [ngClass]="{'row': row}"
>
    <div
        class="no-gutters {{ sizeClass }}"
        [ngClass]="{
		'has-error':
			!formControl.valid && !formControl.disabled && (formControl.dirty || formControl.touched)}"
    >
        <div class="{{ labelSizeClass }}">
            <label
                class="form-control-label"
                for="{{ id }}"
            >
                {{label | translate}}</label>
            <do-tooltip [tooltip]="tooltip"></do-tooltip>
        </div>

        <div class="{{ subElementSizeClass }}">
            <input
                #input
                id="{{id}}"
                type="text"
                class="form-control"
                [class.disabled]="disabled"
                placeholder="{{ placeholder | translate }}"
                (paste)="onChange($event)"
                (keyup)="onChange($event)"
                [disabled]="disabled"
            />

        </div>
        <div
            class="flex-center {{ errorMessageSizeClass ? errorMessageSizeClass : subElementSizeClass }}">
            <do-input-error [errorsLabel]="errorsLabel"></do-input-error>
        </div>
    </div>
</div>