<nav class="navbar navbar-expand navbar-dark bg-dark static-top">

    <a
        class="navbar-brand mr-1"
        [routerLink]="['/home']"
    >{{title}}</a>

    <do-button
        [icon]="'bars'"
        [type]="'icon'"
        [iconColor]="'white'"
        (onClick)="toggleSideBar()"
    ></do-button>

    <!-- Navbar Search -->
    <!-- TODO: refactor this into a separate shared component -->
    <!-- <form
        class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0"
    >
        <div class="input-group">
            <input
                #input
                class="form-control"
                placeholder="Search for..."
                aria-label="Search"
                aria-describedby="basic-addon2"
            >
            <div class="input-group-append">
                <button
                    class="btn btn-primary"
                    type="button"
                    (click)="search(input.value)"
                >
                    <i class="fas fa-search"></i>
                </button>
            </div>
        </div>
    </form> -->

    <div class="do-nav-items">
        <do-button
            [icon]="'bell'"
            [type]="'icon'"
            [iconColor]="'rgba(255,255,255,.5)'"
            [notifications]="bellDropItems?.length"
            (onClick)="toggleDropDown('bell')"
        ></do-button>
        <do-drop-down-menu
            [items]="bellDropItems"
            [show]="showBellDropDown"
            (hide)="toggleDropDown('hideAll')"
        ></do-drop-down-menu>
        <do-button
            [icon]="'envelope'"
            [type]="'icon'"
            [iconColor]="'rgba(255,255,255,.5)'"
            [notifications]="envelopeDropItems?.length"
            (onClick)="toggleDropDown('envelope')"
        ></do-button>
        <do-drop-down-menu
            [items]="envelopeDropItems"
            [show]="showEnvelopeDropDown"
            (hide)="toggleDropDown('hideAll')"
        ></do-drop-down-menu>
        <do-button
            [icon]="'user-circle'"
            [type]="'icon'"
            [iconColor]="'rgba(255,255,255,.5)'"
            (onClick)="toggleDropDown('user')"
        ></do-button>
        <do-drop-down-menu
            [items]="userDropItems"
            [show]="showUserDropDown"
            (hide)="toggleDropDown('hideAll')"
        ></do-drop-down-menu>
    </div>
</nav>