/* You can add global styles to this file, and also import other style files */
.no-focus {
    box-shadow: none !important;
}

.has-error {
    .form-control {
        
        border: 1px solid rgba(255, 0, 0, .5);
        border-bottom: 3px solid red;
    }
}

.reserve-error-space {
    min-height: 2rem;
}

.form-control {
    // TODO: write this class
}

.form-control-label {
// TODO: write this class
}

.flex-center {
    display: flex;
    justify-content: center;
}

.capitalize {
    text-transform: capitalize;
}