// Import Custom Variables
@import "./assets/scss/variables.scss";

// Import Bootstrap
@import "./assets/scss/bootstrap/scss/bootstrap.scss";

// Import Custom SCSS
@import "./assets/scss/mixins.scss";
@import "./assets/scss/global.scss";
@import "./assets/scss/utilities.scss";
@import "./assets/scss/navbar.scss";
@import "./assets/scss/cards.scss";
@import "./assets/scss/login.scss";
@import "./assets/scss/footer.scss";


/* You can add global styles to this file, and also import other style files */
.no-focus {
    box-shadow: none !important;
}

.has-error {
    .form-control {
        
        border: 1px solid rgba(255, 0, 0, .5);
        border-bottom: 3px solid red;
    }
}

.reserve-error-space {
    min-height: 2rem;
}

.form-control {
    // TODO: write this class
}

.form-control-label {
// TODO: write this class
}

.flex-center {
    display: flex;
    justify-content: center;
}

.capitalize {
    text-transform: capitalize;
}

.do-tooltip {
    position: absolute;
    top: 0;
    right: 0;
}